<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    
          
    <div class="main">
      
          
            <div class="login_card p-5 gap-3 d-flex ">
                <h1>EMPLOYMENT MANAGEMENT</h1>
                <!-- <label for="userName" class="form-label">User Name</label>
                <input type="text" class="form-control" id="userName"> -->
    
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email">
    
                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" id="password">

                <button class="butn" onclick="login()">Submit</button>
            </div>
    
       
           </div> 


           <script src="/js/login.js"></script>
    
</body>
</html>



