<div class="delete-page p-4 rounded-4 flex-column gap-4 gap-3" id="delete-page">
    <div class="delete-heading d-flex justify-content-between">
      <h3>Delete employee</h3>
      <button  id="del-close" onclick="closeDelPage()"><i class="fa-solid fa-x"></i></button>

    </div>
   <div class="delete-conform">
    <h5>Are you sure you want to delete this employee?</h5>
   </div>
    <div class="delete-button d-flex justify-content-end gap-2">
      <button class="cancel" onclick="closeDelPage()">Cancel</button>
    <button class="delete" id="delete-conformation">Delete</button>
    </div>
  </div>