
<div class="footer  py-3 gap-4 pe-4 d-flex justify-content-between d-flex ">
    <div class="copyright px-3">
     <p> © 2023  All Rights Reserved. Stackup</p>
    </div>
   <div class="terms">
    <a href="#">Terms of Use</a>
    <a href="#">Privacy and Policy</a>
   </div>
  </div>