<div class="head d-flex justify-content-between">
    <div class="details-heading">
        <h6>Dashboard/Employees</h6>
        <h5>Employees</h5>
    </div>
    <div class="search-bar d-flex align-items-center gap-3 ">
        <input type="search" class="form-control rounded-5 search bg-light border-0 ps-4" placeholder="Search" id="searchBar">
        <i class="fa-regular fa-bell"></i>
        <img src="/img/Elipse 5.png" alt="" class="rounded-5">
        <div class="search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
</div>