<div class="home-fotter d-flex justify-content-between flex-column">
    <div class="next d-flex justify-content-end py-3 pe-4">
      <div aria-label="Page navigation example">
        <ul class="pagination d-flex gap-2" id="pagination-numbers">
         
        </ul>
      </div>
    </div>
    
  </div>