<div class="side-menu  py-3 d-flex flex-column justify-content-between">
    <div class="f">
      <div class="side-menu-heading pb-3 px-3">
        <h4>Employee </h4>
        <h3>Management</h3>
    </div>
        <div class="side-menu-list">
            <div class="row mx-2 py-5">
               <ul class="side-options">
                <li><a href=""><i class="fa-solid fa-house"></i>Dashboard</a></li>
                <li><a href=""><i class="fa-solid fa-chart-simple"></i>Empoyees</a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i>My Profile</a></li>
                <li><a href="#"><i class="fa-solid fa-lock"></i>Logout</a></li>
               </ul>
               
              </div>
        </div>
    </div>
    
        <div class="powered-by d-flex gap-2 align-items-center ms-2">
          <h6 class="m-0">Powered by</h6>
          <img src="/img/stackup.png" alt="">
          <h1 id="kk"></h1>
        </div>

</div>